.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2rem;
  }

  &__burger {
    display: none;
  }

  &__logo {
    flex-grow: 1;
  }

  &__nav {
    display: flex;
    gap: 24px;
    flex-grow: .5;
  }

  &__item {
    transition-duration: $transition-duration;

    &:hover {
      color: $main-black;
    }
  }

  &__languages {
    display: flex;
    gap: 2px;

    &-item{
      cursor: pointer;
      transition-duration: $transition-duration;

      &:hover {
        color: $main-black;
      }
    }

    &-active {
      color: $color-blue;
    }
  }

  &__profile {
    display: none;
  }

}

@media (max-width: 1070px) {
  .header {

    &__menu {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &__burger {
      display: block;
      margin-bottom: 4px;
    }

    &__nav {
      display: none;
    }

    &__languages {
      display: none;
    }
  }
}

@media (max-width: $tablet-small) {
  .header {
    &__button {
      display: none;
    }

    &__profile {
      display: block;
    }
  }
}

