* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    font-weight: 400;
    color: $main-grey;
    font-size: 18px;
    line-height: 135%;
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-size: 56px;
    line-height: 125%;
}

h2 {
    font-size: 36px;
    line-height: 112%;
}

h3 {
    font-size: 24px;
    line-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1268px;
    padding: 0 24px;
    margin: 0 auto;
}

.logo {
    font-size: inherit;
    color: $color-blue;
}

.button {
    padding: 12px 24px;
    color: $main-white;
    background-color: $color-blue;
    border-radius: $border-radius;
    cursor: pointer;
    transition-duration: $transition-duration;

    &:hover {
        background-color: $hover-blue;
    }
}


@media (max-width: $mobile) {
    body {
        font-size: 14px;
        line-height: 135%;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
        line-height: 125%;
    }

    h3 {
        font-size: 18px;
        line-height: 125%;
    }
}