$color-blue: #4754eb;
$color-purple: #8633b0;
$color-pink: #eb478b;
$color-yellow: #ffdf80;
$color-orange: #f47b25;
$background: #f2f2f2;
$main-white: #ffffff;
$main-black: #1a1a1a;
$main-grey: #808080;
$main-grey-light: #d9d9d9;
$hover-blue: #505dec;
$inactive-blue: #3c49dd;

$border-radius: 16px;
$border-radius-large: 24px;

$shadow: 0 4px 20px 0 rgba(25, 25, 25, 0.05);

$font-main: 'VisueltPro', sans-serif;

$section-padding-y: 80px;

$transition-duration: 0.3s;

$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;
